default:
  context:
    class: Drupal\Ignite\FeatureContext
    parameters: ~
      # username: ${destination.http.user}
      # password: ${destination.http.pass}
      # requires:
        # - email_testing
  paths:
    features: 'features'
  extensions:
    Behat\MinkExtension\Extension:
      base_url: 'http://__domain__'
      files_path: 'features/files'
      goutte: ~
      selenium2: ~
    Drupal\DrupalExtension\Extension:
      blackbox: ~
      drush:
        alias: __name__.loc
        binary: 'bin/drush'
      region_map:
        # Current Theme
        menu: "#main-menu"
        content: "#content"
        footer: "#footer"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"

        # Admin Theme (Seven)
        admin_region_branding: '#branding'
        admin_region_page: '#page'
        admin_region_content: '#content'
        admin_region_footer: '#footer'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
