default:
  context:
    class: FeatureContext
    parameters:
      username: ${destination.http.user}
      password: ${destination.http.pass}
      # requires:
        # - email_testing
  paths:
    features: 'features'
  extensions:
    Behat\MinkExtension\Extension:
      base_url: 'http://${domain}'
      files_path: '${project.basedir}/features/files'
      goutte: ~
      selenium2: ~
    Drupal\DrupalExtension\Extension:
      blackbox: ~
      drupal_api: 'drush'
      drupal:
        drupal_root: .
      drush:
        alias: ${drush.alias}
      region_map:
        # Site Theme (My Site)
        ## zone header
        region_header_first: '#region-header-first'
        region_header_second: '#region-header-second'

        ## zone menu
        region_menu: '#region-menu'
        region_search: '#region-search'

        ## zone content
        region_content: "#region-content"
        region_issue_comment_form: "#block-commentform-commentform"
        region_right_sidebar: "#region-sidebar-second"

        # Admin Theme (Seven)
        admin_region_branding: '#branding'
        admin_region_page: '#page'
        admin_region_content: '#content'
        admin_region_footer: '#footer'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
